# Здесь будут находиться игнорируемые объекты

# Папки с входными и исчодными данными
*/

# Файлы, котоыре не так важны и изменение которых напрямую не связано с работой
*.txt
decode.py
dnxdtn.py
gauss.py
